.logo {
  display:flex;
  flex-wrap: nowrap;
  position:static;
  font-size: 5em;
  justify-content: left;
  padding-left: 1em;
  font-family: 'Patua One', cursive;
  color: black;
  font-size: 24pt;
}

.logo:hover {
  opacity: 0.7;
}

a {
  text-decoration: none;
  color:inherit;
}

.mainimg {
  position: static;
  justify-content: left;
  border-color: black;
  border: 5px;
  box-shadow: 0px 5px 20px #C0C0C0;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

}
.fa-facebook {
  background: #3B5998;
  color: white;
  margin-left: 45%;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-wordpress{
  background: #000000;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}


.containerone {
  display:flex;
  padding: 1em;
  margin-top: 2em;
  margin-bottom: 2em;
  border-color: #66C4F7;
  border: 10px;
  box-shadow: 0px 5px 20px #C0C0C0;
  width: 100%;
}

.containertwo {
  padding-left: 2em;
  justify-content: center;
  position: static;
  padding-top: 5em;
  text-align: left;
  font-family: 'Patua One';
  font-size: 32pt;
}
