html {
    font-size: 1rem;
}

@include media-breakpoint-up(sm) {
    html {
        font-size: 1.2rem;
    }
}

@include media-breakpoint-up(md) {
    html {
        font-size: 1.4rem;
    }
}

@include media-breakpoint-up(lg) {
    html {
        font-size: 1.6rem;
    }
}

.mainimg {
    width: 500px;
    border-radius: 50%;
    border: 50px solid #5AB9EA;
    height: auto;
    margin-bottom: 10vh;
    
}

.bgwrapper {
    position: absolute;
    width: 100%;
    height: 60vh;
    overflow: hidden;
    z-index: -100;
}

.hoverlay {
    height: 60vh;
    position: absolute;
    width: 100%;
    z-index: -10;
    background: white;
    opacity: 0.9;
}

.hcontent {
    z-index: 2;
}


.heading {
    font-family: 'Roboto', sans-serif;
    color: #2d2c33;
    font-weight: bold;
}

.subheading {
    color: lightslategrey;
    font-family: 'Anton', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

    a:hover {
        text-decoration: none;
        color: white;
        opacity: 0.7;
    }

.aboutme:hover {
    text-decoration: none;
    opacity: 0.7;
    transform: scale(1.5);
}

a.aboutlink:hover {
    text-decoration: none;
    opacity: 0.7;
    transform: scale(1.5);
}

.sized {
    height: 40px;
    padding-top: 15px;
}

.padding {
    padding-top: 20px;
}

@media (max-width: 1000px) {

    .bulletsleft {
        padding-bottom: 2em;
        font-family: Patua One;
        font-size: large;
    }

    .sub {
        font-size: larger;
    }

    .subheading {
        font-size: larger;
    }

    .heading {
        font-size: xx-large;
    }

    .mainimg {
        display: none;
    }

    .removeitem {
        display: none;
    }

    .bulletsright {
        text-align: left;
        padding-bottom: 2em;
        font-family: Jura;
        font-size: large;
       
    }

    .bgwrapper {
        top: 0;
        height: 30vh;
    }

    .mov {
        height: inherit;
        width: inherit;
        display: none;
    }

    .bullets {
        font-size: smaller;
    }

    .technical {
        font-size: large;
    }



    div.header {
        margin-bottom: 0px;
    }

    i.fat {
        font-size: small;
        ;
        width: 50px;
        height: 40px;
        text-align: center;
        padding-top: 10px;
        border-radius: 3px;
    }

    h1.aboutme {
        font-size: larger;
    }

    div.aboutme {
        font-size: larger;
    }

    div.contact {
        font-size: large;
    }

    div.about {
        height: 600px;
    }
}
.Prog {
    color: #8860D0;
    font-weight: bolder;
}

.Dev {
    color: #5680EA;
    font-weight: bolder;
}

.GrDes {
    color: #5AB9EA;
    font-weight: bolder;
}


.bulletsleft {
    padding-bottom: 2em;
    font-family: Jura;
    font-size-adjust: inherit;
    
    
}
.zLeft{
    display:none;
}
.zRight{
    display: none;
}
.bgl {
    background-color: #8860D0;
}
.bgr {
    background-color: #5680EA;
}



.about {
    height: 110vh;
}

.aboutme {
    font-family: 'Jura', script;
    color: whitesmoke;
    
}
.showthis {
  display: none;
}
.aboutmeh {
    font-family: 'Jura', script;
    color: #25274D;
}
.contact {
    color: #5680EA;
}
.sub {
    color: slategrey;
}



.header {
    margin-bottom: 100px;
}



.technical {
}


.bulletsright {
    text-align: right;
    padding-bottom: 2em;
    font-family: Jura;
   
}

.trythis {
    position: center;
    animation: myOrbit 4s linear infinite;
}

.bullets {
    font-family: Jura;
    justify-content: center;
}

.fat {
    font-size: 50px;
    width: 100px;
    height: 80px;
    text-align: center;
    padding-top: 10px;
    border-radius: 3px;
}

.fatter {
    font-size: 30px;
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 5px;
    border-radius: 3px;
}

.fat:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3b5998;
    color: white;
}

.fa-twitter {
    background: #55acee;
    color: white;
}

.fa-wordpress {
    background: #000000;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-github {
    background: black;
    color: white;
}

.fa-envelope {
    background: red;
    color: white;
}

@keyframes zoomInLeft {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
        transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
        transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
}

.zoomInLeft {
    animation: zoomInLeft 2s normal;
    visibility:visible;
}


@keyframes zoomInRight {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
        transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
        transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
}

.zoomInRight {
    visibility: visible;
    animation: zoomInRight 2s normal;
}
.pulse {
    animation: pulse 2s normal;
}

@keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
.bounce {
    animation: bounce 5s normal;
    visibility: visible;
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    60% {
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    animation: fadeIn 2s normal;
    visibility:visible;
}
